html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

a {
  position: relative;
  color:#212121;
  text-decoration: none;
}

a:hover {
  color:#212121;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #212121;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* Button */

.button {
  background-color: black;
  border-color: black;
  font-size: 1.4rem;
  line-height: .2rem;
  padding: 3rem;
}
.button.button-clear,
.button.button-outline {
  background-color: transparent;
  color: black;
}
.button.button-clear {
  border-color: transparent;
}

div.container {

}

@media screen and (min-width: 50rem) {
  div.container {

  }
} 

 /* Header */

 header {
  width: 100%;
  height:64px;
  z-index: 999;
  position: fixed;
  background-color:#fff;
  font-size: 1.5rem;
}

 #nav {
  float: none;
  overflow: hidden;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px
}

#inner {
  overflow: hidden;
}

.child {
  float: left;
  margin:2rem;
  width:60px;
  text-align: center;
}

@media screen and (min-width: 50rem) {
  .menu-nav-toggle {
    display: none;
  }
  header {
    background-color:transparent;
    padding: 3rem;
    font-size: 2rem;
  }
   #nav {
    float: right;
    position: relative;
    width: 300px;
    left: 0;
    margin-left: 0px
  }
}

.gilda {
  font-family: 'Gilda', serif;
}

.upper {
  text-transform: uppercase;
}

.hero {
  height: 100vh;
}

h1.gilda.upper.mask {
  margin-top:10rem;
}

@media screen and (min-width: 50rem) {
  h1.gilda.upper.mask {
    margin-top:16rem;
  }
}

.hero h4 {
  font-size: 3rem;
  line-height:4rem;
  font-weight: 200;
}

/* Text Mask */

.mask {
  font-size: 7rem;
  line-height: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  background: url("../img/floral.jpg") 0 0 / cover no-repeat;
  color: #de466c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 50rem) {
  .mask {
    font-size: 20rem;
    line-height:20rem;
  }
} 

/* Parallax */

.parallax {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.block {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 100vh;
}
.block h2 {
  position: relative;
  display: block;
  margin: 0 0 4rem 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: white;
}
.block btn {
  position: relative;
  display: block;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}

/* Case Study Parallax */

case-study-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6d9d3;
}
case-study-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
case-study-hero .overlay h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 9rem;
  text-shadow: 25px -15px rgba(25, 42, 46, 0.04);
  color: #142124;
  mix-blend-mode: overlay;
}
case-study-hero .overlay h1 span {
  margin-top: -2em;
  padding-top: 0.5em;
  display: block;
  letter-spacing: 5px;
  font-size: 1.25rem;
}
case-study-hero .parallax {
  position: relative;
  width: 100%;
  height: 100%;
}
case-study-hero .parallax div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
case-study-hero .parallax .one {
  background-image: url("https://raw.githubusercontent.com/joshuaward/codepen-images/master/mountains-1.svg");
  z-index: 4;
}
case-study-hero .parallax .two {
  background-image: url("https://raw.githubusercontent.com/joshuaward/codepen-images/master/mountains-2.svg");
  z-index: 3;
}
case-study-hero .parallax .three {
  background-image: url("https://raw.githubusercontent.com/joshuaward/codepen-images/master/mountains-3.svg");
  z-index: 2;
}
case-study-hero .parallax .four {
  background-image: url("https://raw.githubusercontent.com/joshuaward/codepen-images/master/mountains-4.svg");
  z-index: 1;
}
case-study-hero .parallax .five {
  background-image: url("https://raw.githubusercontent.com/joshuaward/codepen-images/master/mountains-5.svg");
  z-index: 0;
}

/* Inner Page Columns */

div.column.article-column {
  padding: 0 3rem;
}

@media screen and (min-width: 50rem) {
  div.column.article-column {
    padding: 0 24rem;
  }
}

/* Footer */

footer {
  position: inherit;
  display: flex;
  min-height: 15vh;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #fff;
  color: #212121;
}

footer p {
  margin: 0;
}

/* Gilda Mask Headers */

h1.gilda.upper {
  margin-top:6rem;
}

@media screen and (min-width: 50rem) {
  h1.gilda.upper {
    margin-top:8rem;
  }
}
