html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

a {
  color:#1D49A7;
}

.level{
    align-items:center;
    justify-content:flex-start;
}

.visible-mobile {
  display: none !important;
}

@media (max-width: 489px) {
  .visible-mobile {
    display: inline !important;
  }

  .hidden-mobile {
    display: none !important;
  }
}

.hero-lottie {
  width: 100%;
  height: 100%;
}

.hero-header {
  font-size:1.25rem;
  line-height:2.25rem;
}

@media only screen and (min-width: 468px) and (max-width: 1900px) {
  .hero-header {
    font-size:1rem;
    line-height:2rem;
  }
}

.card {
  max-width: 25rem;
  box-shadow: none;
  border: 3px solid #363636;
  border-radius: 5px;
  color: #363636;
}

@media only screen and (min-width: 468px) and (max-width: 1279px) {
  .card {
    max-width: 25rem;
    min-width: 24rem;
  }
}

.card-title {
  font-size: 1.5rem;
}

.card .card-container, .card .card__container {
  min-height: 0;
}

.card .action-bar, .card .card__action-bar {
  border-top: 0px;
  padding-bottom: 1em;
  padding-top: 0em;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #d0e0ef;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #dee2e6;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.teQAzf {
	max-width:100%;
	display: block;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.footer {
  background-color: transparent;
  padding: 0;
}

.footer .footer__list-item, .footer ul a .footer__list-item {
  color: #1D49A7;
}

@media only screen and (max-width: 640px) {
  .footer-link {
    max-width:120px;
  }
}

div.nav-item a {
  color: #1D49A7;
}

.grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.draggable {
  background: rgba(254,236,220,var(--bg-opacity));
  border: 1px solid #dc4753;
  border-radius: 40rem;
  width: 100%;
  height: 3rem;
  text-align: left;
  padding:1rem;
}

.drop-zone {
  width: 100%;
  padding: 8px;
  background: #eee;
  border: 2px solid #000;
  min-height: 4rem;
}

.drop-tag {

}

.icon-background {
  color: #c0ffc0;
}

/* Dragged source element style */
.dragged {
  opacity: .6;
  border-style: dashed;
}

/* Drag feedback image style */
.drag-feedback {
  background: lightskyblue;
  border: 1px solid dodgerblue;
}

/* drop zone highlights */
.active-zone {
  background: #fffad6;
  border: 2px solid #aaa479;
}

.over-zone {
  background: #ffc6c6;
  border: 2px solid #931414;
}

/* Breakout */

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background: var(--btn-color);
  color: var(--text-color);
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: var(--btn-hover-color);
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--rules-bg-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
  user-select: none;
}

.rules h2 {
  font-size: 47px;
  user-select: text;
}

.rules p {
  margin: 25px 0px;
  user-select: text;
}
